<footer id="footer" class="">
  <div class="container">

      <div  class="d-flex" style="align-items: center;">
          <div  class="col-md-3 col-footer footerColum">
              <div>
             <h3>
              ABOUT US
             </h3>
             <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  </p>
            <ul>
              <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
            </ul>
          </div>
          </div>
          <div  class="col-md-3 col-footer footerColum">
              <div>
              <h3>
                  CATEGORIES
              </h3>
              <ul>
                  <li><a href="#">Hot deals</a></li>
                  <li><a href="#">Laptops</a></li>
                  <li><a href="#">Smartphones</a></li>
                  <li><a href="#">Cameras</a></li>
                  <li><a href="#">Accessories</a></li>
              </ul>
          </div>
           </div>
           <div class="clearfix visible-xs"></div>
           <div class="col-md-3 col-footer footerColum">
              <div>
              <h3>
                  INFORMATION
              </h3>
             <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Orders and Returns</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
              </ul>
           </div>
          </div>
           <div class="col-md-3 col-footer footerColum" >
              <div>
                  <h3>
                      SERVICE
                  </h3>
                  <ul>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#">View Cart</a></li>
                      <li><a href="#">Wishlist</a></li>
                      <li><a href="#">Track My Order</a></li>
                      <li><a href="#">Help</a></li>
                  </ul>
              </div>

           </div>


      </div>

  </div>
  <div style="    background: #1E1F29;" >
      <div class="container">
          <div class="d-flex footerIcons">
  <div><i class="fa fa-facebook"></i></div>
  <div><i class="fa fa-twitter"></i></div>
  <div><i class="fa fa-instagram"></i></div>
  <div><i class="fa fa-linkedin"></i></div>
</div>
<div class="footerLastText ">
Copyright ©2023 All rights reserved | This template is made with <span><i class="fa fa-heart"></i></span> by khaled yehia</div>

</div>

  </div>

</footer>
