$dark-background-color: #0D0D0D;
$dark-color: #ffffff;

$light-background-color: #ffffff;
$light-color: #0D0D0D;
$red:#D9415D;
$blue:#2C96BF;
$yellow:#F2A413;
$musterd:#D97D0D;
$white:#F2F2F2;
$silver:#D9D9D9;
$gray:#A6A6A6;
$dark-gray:#595959;
