<div>
  <div
    class="homeHeader"
    style="
      height: 100vh;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../assets/src/img/art-jobs.png);
      background-size: auto, cover;
      background-position: center top;
      background-attachment: fixed;
      background-repeat: no-repeat;
    "
  >
    <div class="container" style="height: 100%">
      <div
        class="d-flex text-red justify-content-center align-items-center"
        style="height: 100% !important"
      >
        <div style="text-align: center">
          <h1>Art gallary</h1>
          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
            error.
          </h3>
        </div>
      </div>
    </div>
  </div>

</div>
<section style="margin-top: 50px;" class="container NewArtSection">
  <div class="col-md-12">
    <h4>Our newest art</h4>
    <div class="d-flex">
      <div class="products-tabs" style="width: 100%">
        <div id="tab1" class="tab-pane active">
          <div
            class="products-slick d-flex"
            id="displayProducts"
            data-nav="#slick-nav-1"
          >
            <div style="padding: 0px 5px" class="col-md-4">
              <div class="product">
                <div class="product-img">
                  <img
                    style="width: 421.33px; height: 450px"
                    src="../../assets/src/img/img3.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="product-body"
                  style="background-color: #1e1f29 !important"
                >
                  <p class="product-category">Category</p>
                  <h3 class="product-name">
                    <a href="#">product name goes here</a>
                  </h3>
                  <h4 class="product-price text">
                    $980.00
                  </h4>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="product-btns">
                    <button class="add-to-wishlist">
                      <i class="fa fa-heart-o"></i
                      ><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare">
                      <i class="fa fa-exchange"></i
                      ><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view">
                      <i class="fa fa-eye"></i
                      ><span class="tooltipp">quick view</span>
                    </button>
                  </div>
                </div>
                <div class="add-to-cart" >
                  <button class="add-to-cart-btn">
                    <i class="fa fa-shopping-cart"></i> add to cart
                  </button>
                </div>
              </div>
            </div>
            <div style="padding: 0px 5px" class="col-md-4">
              <div class="product">
                <div class="product-img">
                  <img
                    style="width:  421.33px; height: 450px"
                    src="../../assets/src/img/img1.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="product-body"
                  style="background-color: #1e1f29 !important"
                >
                  <p class="product-category">Category</p>
                  <h3 class="product-name">
                    <a href="#">product name goes here</a>
                  </h3>
                  <h4 class="product-price text" >
                    $980.00
                  </h4>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="product-btns">
                    <button class="add-to-wishlist">
                      <i class="fa fa-heart-o"></i
                      ><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare">
                      <i class="fa fa-exchange"></i
                      ><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view">
                      <i class="fa fa-eye"></i
                      ><span class="tooltipp">quick view</span>
                    </button>
                  </div>
                </div>
                <div class="add-to-cart" >
                  <button class="add-to-cart-btn">
                    <i class="fa fa-shopping-cart"></i> add to cart
                  </button>
                </div>
              </div>
            </div>
            <div style="padding: 0px 5px" class="col-md-4">
              <div class="product">
                <div class="product-img">
                  <img
                    style="width:  421.33px; height: 450px"
                    src="../../assets/src/img/img2.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="product-body"
                  style="background-color: #1e1f29 !important"
                >
                  <p class="product-category">Category</p>
                  <h3 class="product-name">
                    <a href="#">product name goes here</a>
                  </h3>
                  <h4 class="product-price text" >
                    $980.00
                  </h4>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="product-btns">
                    <button class="add-to-wishlist">
                      <i class="fa fa-heart-o"></i
                      ><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare">
                      <i class="fa fa-exchange"></i
                      ><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view">
                      <i class="fa fa-eye"></i
                      ><span class="tooltipp">quick view</span>
                    </button>
                  </div>
                </div>
                <div class="add-to-cart" >
                  <button class="add-to-cart-btn">
                    <i class="fa fa-shopping-cart"></i> add to cart
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id="slick-nav-1" class="products-slick-nav"></div>
        </div>
      </div>
    </div>
  </div>
</section>

